.card {
  border: 0;
}

#map_var-label {
  width: 100%;
  text-align: center;
}

.leaflet-tooltip, .legend {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px !important;
  background-color: rgb(255, 255, 255) !important;
  border-width: 0 !important;
  border-radius: 4px !important;
  color: rgb(102, 102, 102) !important;
  font: 14px / 21px sans-serif !important;
  padding: 10px !important;
}

.leaflet-bar button {
  font-size: initial !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  background-color: #fff !important;
  color: black !important;
  opacity: unset !important;
  border-radius: 2px !important;
  padding: unset !important;
}

.leaflet-bar button:hover {
  background-color: #f4f4f4 !important;
  text-decoration: none !important;
  opacity: unset !important;
}

.leaflet-container {
  background-color: #fff !important;
}

.charts-panel {
  overflow: scroll !important;
}

.charts-panel > .panel-content, .echarts-toggle-container > .panel-content {
  padding: 0;
}

.charts-panel > .panel-content > .grid-container {
  width: 100%;
}

.echarts-common-legend, .echarts-legend-button {
  font: 14px / 24px sans-serif;
}

.echarts-common-legend {
  text-align: left;
}

.echarts-legend-container {
  align-items: center;
}

.echarts-legend-container > .panel-content {
  align-items: start !important;
}
