@import url('https://rsms.me/inter/inter.css');

body {
  font-family: Inter, sans-serif !important;
}

.card {
  border: 0;
}

.title-container img {
  margin-right: 12px;
}

.title-container h3::after {
  content: '0.1.0';
  font-size: 75%;
  font-weight: 400;
  color: #666;
  margin-left: 8px;
}

#map_var {
  text-overflow: ellipsis;
}

#map_var_info {
  font: 14px / 21px Inter, sans-serif;
}

.checkbox {
  font: 14px / 24px sans-serif;
}

.checkbox label {
  display: flex;
}

.checkbox span {
  margin-left: 4px;
}

.irs-bar--single {
  background: unset !important;
  border-top: unset !important;
  border-bottom: unset !important;
}

.leaflet-tooltip,
.legend {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px !important;
  background-color: rgb(255, 255, 255) !important;
  border-width: 0 !important;
  border-radius: 4px !important;
  color: rgb(102, 102, 102) !important;
  font: 14px / 21px Inter, sans-serif !important;
  padding: 10px !important;
}

.leaflet-bar button {
  font-size: initial !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  background-color: #fff !important;
  color: black !important;
  opacity: unset !important;
  border-radius: 2px !important;
  padding: unset !important;
}

.leaflet-bar button:hover {
  background-color: #f4f4f4 !important;
  text-decoration: none !important;
  opacity: unset !important;
}

.leaflet-container {
  background-color: #fff !important;
  font: 14px / 21px Inter, sans-serif !important;
}

.leaflet-control-attribution {
  display: none;
}

.charts-panel {
  overflow: scroll !important;
}

.charts-panel .panel-content {
  padding: 0;
}

.charts-panel .grid-container {
  width: 100%;
}

.echarts-common-legend,
.echarts-toggle-container {
  font: 14px / 24px Inter, sans-serif;
}

.echarts-common-legend {
  text-align: left;
}

.echarts-legend-container {
  align-items: center;
}

.echarts-legend-container .panel-content,
.echarts-toggle-container .panel-content {
  align-items: start !important;
  justify-content: center !important;
}

.echarts-toggle-container div {
  margin: 0 !important;
}

.info-tooltip {
  cursor: help;
}

[class*="hint--"][aria-label]::after {
  font: 14px / 21px Inter, sans-serif;
  white-space: pre-wrap;
}
